body{
    
    background-image: url("https://besthqwallpapers.com/img/original/47188/4k-novitec-torado-lamborghini-aventador-s-parking-2018-cars-supercars.jpg");
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center center;
}

h1{
    padding: 50px;
    text-align: left;
    color: lightslategrey;
}

h2{
    padding: 10px;
    text-align: right;
    color: lightslategrey;
    opacity: 0.4;
}

h3{

    color: royalblue;
    text-align: center;
    font-size: 5em;
}

.col{
    border: 2px solid peachpuff;
}

.btn.btn-outline-info{
    color:rgba(144, 196, 255, 0.2);
}

.card.titlecards{
    background-color:rgba(144, 196, 255, 0.2);
}

.iframe-zoom{
    width: 100px;
    overflow: hidden;
}

iframe{
    width: 100%;
    transition: transform .1s;
}
iframe:hover{
    -ms-transform: scale(2) translate(30px); 
    -webkit-transform: scale(2) translate(30px); 
    transform: scale(2,2) translate(30px);
}
.mon_logo{
    height: 250px;
    top:50px;
    left:50px;
    display: flex;
    float:left
    
}
.mon_titre{
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    text-align: center;

    padding-top: 60px;
}
.ma_phrase{

    text-align: center;
    padding-bottom: 100px;
}
.mon_contact{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: center;
    color: black;
    text-shadow: rgb(250, 250, 250) 1px 0 10px;
    padding-top: 20px;
}