
@media all and (max-width: 1024px)
{
    #bloc_page
    {
        width: auto;
    }
}


/*pour tester   */
body {
    background: #21d5f5f5 !important;
    display: flex;
    align-items: center;
    height:auto;
    
   
}
.tile {
    width:150px;
    height:150px;
    margin:auto;
}
.tile h1 {
    font-size: xx-small;
    margin: 0;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.back span{
    font-size: xx-small;
}

.back {
    margin:auto;
    font-family: "Roboto";
    font-weight: 900;
}